@import "../../styles/Variables";

//Global
.outer-container{
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  padding: 15px;
  display: flex;
  flex-direction: column;

}

//header
.header{
  width: 100%;
  height: 300px;
  display: flex;
  flex-basis: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-radius: 15px;
  position: relative;
}
//Profile picture / title box
.layout-profile-pic{
  display: flex;
  gap: 30px;
  padding: 30px;
  align-items: center;
  margin-top: 60px;
  z-index: 3;
}

//Background image
.background-img{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 30%;
  z-index: 1;
  border-radius: 15px;
}


//title
.title{
  margin-top: 100px;
}

//Profile picture
.profile-image{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}


//Changing profile picture
.label-upload{
  background-color: $color-primary;
  padding: 10px;
  border-radius: 10px;
}
.upload-btn{
  background-color: $color-primary;
}

//box around changing profile picture
.change-pic{
  border: 4px solid $color-secondary;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  border-radius: 10px;
  background-color: $color-primary;

}
.layout-change-profile-pic{
  display: flex;
  justify-content: center;
}



// layout form
.form-style{
  display: flex;
  gap: 150px;
  justify-content: center;
  margin: 50px;
  flex-wrap: wrap;
}

//container changing password and username
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid $color-secondary;
  flex-basis: 300px;
  border-radius: 10px;
  padding: 20px;
  background-color: $color-primary;
}

// styling inputboxes
.input-box{
  border: 4px solid $color-primary;
  background-color: $color-accent;
  color: $color-text;
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
}


@media screen and (max-width: 700px) {
  .outer-container{
    text-align: center;
  }


}