
@import '../../styles/Variables';

.detailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-text;
  padding: 15px;
  background-color: $color-bg;
  min-height: 100vh;
  width: 100%;
}

.backdrop {
  width: 100%;
  max-height: 80vh;
  object-fit: cover;
  border-radius: 10px;
  opacity: 50%;
}

.content {
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: -100px;
  background-color: rgba(0, 0, 1, 0.8);
  padding: 20px;
  border-radius: 10px;
  top: 500px;
}

.posterAndOverview {
  display: flex;
  flex-shrink: 3;
  gap: 20px;
  margin-top: 20px;
}

.poster {
  display: flex;
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.overview {
  max-width: 600px;
  font-size: 1.1rem;
}