@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

//Colors:

// Basic-colors
$color-bg: #121212;
$color-text: #ffffff;

//Head-colors

$color-primary: #5D2A42;
$color-secondary: #e91e63;
$color-accent: #fbbc05;

// Status-colors
$color-success: #4caf50;
$color-error: #f44336;
$color-warning: #ff9800;

// Links:
$color-link: #00bcd4;


//Fonts:
$font-heading: Bebas Neue, sans-serif;
$font-body: Inter, sans-serif;