@import '../../styles/Variables';

//global
.outerContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 300px;
  max-height: 500px;
  width: 300px;
  height: 450px;
  border-radius: 15px;
}
.innerContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.backdropImg{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  opacity: 0.3;
  border-radius: 15px;
}

//position buttons
.buttonContainer{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.rating{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-secondary;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid $color-primary;
}
.star{
  color: $color-accent;
}

// text styling
.title{
  z-index: 999;
  color: $color-secondary;
}

.titleContainer{
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.posterImg{
  width: 150px;
}


