@import '../../styles/Variables';

//global
.outerContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 650px;
  max-height: 650px;
  width: 300px;
  height: 500px;
  border-radius: 15px;
  border: 3px solid $color-secondary;
}
.innerContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}

.backdropImg{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  opacity: 0.3;
  border-radius: 12px;
}

//position buttons
.buttonContainer{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.rating{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-secondary;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid $color-primary;
}
.star{
  color: $color-accent;
}

// text styling
.title{
  color: $color-secondary;
}

.titleContainer{
  display: flex;
  justify-content: space-between;
  width: 90%;
  flex-wrap: wrap;
}

.posterImg{
  width: 150px;
}




// More info (movies tv-shows)
.details{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}


.detailsInner {
  color: $color-primary;
  background: $color-accent;
  padding: 2rem;
  border-radius: 8px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.overview{
  color: $color-bg;
  font-weight: bolder;
}
.rowLayout{
  display: flex;
  justify-content: space-between;
}
