@import "../../styles/Variables";



.navigationItems{
  min-width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  list-style: none;
  z-index: 9;
  flex-wrap: wrap;
  margin-top: 25px;
}

.loginBtn{
  padding: 10px 30px;
  z-index: 10;
  background-color: red;
}

.active{
  text-decoration: underline;
  color: $color-text;
}
.active:hover{
  color: $color-text;
}

.default{
  text-decoration: transparent;
  color: $color-text;
}
.default:hover{
  color: $color-text;
}