@import "../../styles/Variables";

.outerContainer{
  width: 100%;
  max-width: 100vw;
}

.navigationItems{
  width: 100%;
  max-width: 95vw;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  list-style: none;
  z-index: 9;
  flex-wrap: wrap;
  margin-top: 25px;
}

.active{
  text-decoration: underline;
  color: $color-text;
}
.active:hover{
  color: $color-text;
}

.default{
  text-decoration: transparent;
  color: $color-text;
}
.default:hover{
  color: $color-text;
}

.centerPicture{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}