@import '../../styles/Variables';


.formContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: 500px;
  gap: 30px;
  width: 100%;
  border-radius: 15px;
  flex-shrink: 1;
}
.gap{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.optionBox{
  padding: 10px;
  border-radius: 10px;
  background-color: $color-accent;
  color: $color-bg;
  font-weight: bolder;
}

@media (max-width:1100px) {
  .formContainer{
    width: 100%;



  }


}