@import '../../styles/Variables';

// Global
.outerContainer{
  display: flex;
  width: 100%;
  max-width: 100vw;
  padding: 15px;
  overflow-x: hidden;
  background-color: $color-bg;
}

.innerContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;

}


// Cards layout
.layout-cards{
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
  flex-wrap: wrap;
  gap: 50px;

}

// H1 title
.title{
  display: flex;
  margin: 150px;
  justify-content: center;
  align-items: flex-end;
  color: $color-accent;
}

// Text for empty watchlist
.empty{
  display: flex;
  justify-content: center;
  margin-top: 200px;
  color: $color-accent;
  font-size: 2.3rem;
}



// header/Img
.image-container{
  width: 100%;
  height: 300px;
  background-color: $color-bg;
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  overflow: hidden;
}

.image1{
  background-image: url("../../assets/the day of the jackal.jpg");
  flex-basis: 600px;
  border: 5px solid $color-secondary;
}

.image2{
  background-image: url("../../assets/the swimmers.png");
  flex-basis: 450px;
  border: 5px solid $color-primary;
}

.image3{
  background-image: url("../../assets/longest ride1.jpg");
  border: 5px solid $color-primary;
  flex-basis: 450px;
}

.image-style{
  flex-grow: 1;
  transform: skew(-10deg, 0deg);
  background-size: cover;
  opacity: 0.7;
}
.watchlist{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
}


@media screen and (max-width: 700px) {
.image-container{
  width: 100%;
  height: 500px;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;


}
  .image-style{
    transform: skew(0deg, 0deg);
    flex-shrink: 1;
  }
  .image2{
    border: 0 solid $color-primary;
  }
  .image3{
    border: 0 solid $color-primary;
  }
  .image1{
    border: 0 solid $color-primary;
  }
}
