.badge {
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  font-size: 0.65rem;
  font-weight: 500;
  margin-right: 0.5rem;
}
.thriller{
  background-color: #5D2A42;
  color: white;
}
.action {
  background-color: #ef4444;
  color: white;
}

.adventure {
  background-color: #22c55e;
  color: white;
}

.comedy {
  background-color: #facc15;
  color: black;
}

.drama {
  background-color: #9333ea;
  color: white;
}

.horror {
  background-color: black;
  color: white;
}

.romance {
  background-color: #ec4899;
  color: white;
}
.mystery{
  background-color: #915c72;
  color: white;
}
.reality{
  background-color: #ffaf72;
  color: white;
}
.crime{
  background-color: #040e2b;
  color: white;
}
.family{
  background-color: #ff52d0;
  color: white;
}
.documentary{
  background-color: #52ffdf;
  color: white;
}
.default {
  background-color: #d1d5db;
  color: black;
}